@charset "UTF-8";
@font-face {
  /* font utiliser pour titre de page */
  font-family: "Embrionic55";
  src: url("../fonts/Embrionic55.woff2") format("woff2"), url("../fonts/Embrionic55.woff") format("woff"), url("../fonts/Embrionic55.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour texte la note enchantée */
  font-family: "Thyssen J";
  src: url("../fonts/Thyssen-JItalic.woff2") format("woff2"), url("../fonts/Thyssen-JItalic.woff") format("woff"), url("../fonts/Thyssen-JItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  /* font utiliser pour titre la note enchentée */
  font-family: "Ma Shan Zheng";
  src: url("../fonts/MaShanZheng-Regular.woff2") format("woff2"), url("../fonts/MaShanZheng-Regular.woff") format("woff"), url("../fonts/MaShanZheng-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour inter-titre la note enchentée */
  font-family: "VTCSundaykomixcaps";
  src: url("../fonts/VTCSundaykomixcaps.woff2") format("woff2"), url("../fonts/VTCSundaykomixcaps.woff") format("woff"), url("../fonts/VTCSundaykomixcaps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour texte le chic a la francaise */
  font-family: "Rasa";
  src: url("../fonts/Rasa-Regular.woff2") format("woff2"), url("../fonts/Rasa-Regular.woff") format("woff"), url("../fonts/Rasa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour titre le chic a la francaise */
  font-family: "Munson";
  src: url("../fonts/Munson-Bold.woff2") format("woff2"), url("../fonts/Munson-Bold.woff") format("woff"), url("../fonts/Munson-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour inter-titre le chic a la francaise */
  font-family: "EucrosiaUPC";
  src: url("../fonts/EucrosiaUPCBold.woff2") format("woff2"), url("../fonts/EucrosiaUPCBold.woff") format("woff"), url("../fonts/EucrosiaUPCBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour texte le delice des papilles */
  font-family: "Hashtag";
  src: url("../fonts/Hashtag.woff2") format("woff2"), url("../fonts/Hashtag.woff") format("woff"), url("../fonts/Hashtag.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour titre le delice des papilles */
  font-family: "Mcgannahan";
  src: url("../fonts/Mcgannahan.woff2") format("woff2"), url("../fonts/Mcgannahan.woff") format("woff"), url("../fonts/Mcgannahan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour inter-titre le delice des papilles */
  font-family: "JieSi BanXing";
  src: url("../fonts/JiesiBanxingAlpha.woff2") format("woff2"), url("../fonts/JiesiBanxingAlpha.woff") format("woff"), url("../fonts/JiesiBanxingAlpha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour texte la palette du gout */
  font-family: "Worstveld Sling";
  src: url("../fonts/WorstveldSlingBold.woff2") format("woff2"), url("../fonts/WorstveldSlingBold.woff") format("woff"), url("../fonts/WorstveldSlingBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour titre et inter-titre la palette du gout */
  font-family: "Segoe Print";
  src: url("../fonts/SegoePrint.woff2") format("woff2"), url("../fonts/SegoePrint.woff") format("woff"), url("../fonts/SegoePrint.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
header a {
  font-family: "Embrionic55";
  text-decoration: none;
}

footer a {
  text-decoration: none;
  list-style: none;
}

#index_carte_display a {
  text-decoration: none;
}

#index_carte_display {
  list-style: none;
}

/* fonts carte page individuelle */
.lnefont, .lpdgfont, .lcalffont, .lddpfont {
  list-style: none;
  line-height: 55px;
}

.lnefont li {
  font-family: "Thyssen J";
  text-align: left;
}

h2.lnefont {
  font-family: "Ma Shan Zheng";
  text-align: center;
}

h3.lnefont {
  font-family: "VTCSundaykomixcaps";
  text-align: center;
}

.lnefont {
  font-family: "VTCSundaykomixcaps";
  text-align: center;
  font-size: 20px;
}

.lcalffont li {
  font-family: "Rasa";
  text-align: left;
}

h2.lcalffont {
  font-family: "Munson";
  text-align: center;
}

h3.lcalffont {
  font-family: "EucrosiaUPC";
  text-align: center;
}

.lcalffont {
  font-family: "EucrosiaUPC";
  text-align: center;
  font-size: 40px;
}

.lpdgfont li {
  font-family: "Worstveld Sling";
  text-align: left;
}

h2.lpdgfont, h3.lpdgfont {
  font-family: "Segoe Print";
  text-align: center;
}

.lpdgfont {
  font-family: "Segoe Print";
  text-align: center;
  font-size: 25px;
}

.lddpfont li {
  font-family: "Hashtag";
  text-align: left;
}

h2.lddpfont {
  font-family: "Mcgannahan";
  text-align: center;
}

h3.lddpfont {
  font-family: "JieSi BanXing";
  text-align: center;
}

.lddpfont {
  font-family: "JieSi BanXing";
  text-align: center;
  font-size: 25px;
}

body, html {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

header, footer {
  width: 100%;
  left: 0;
}

header {
  position: absolute;
  text-align: center;
  top: 0;
}

.body_mentionlegales_display {
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 200px;
  padding-bottom: 200px;
}

/* contenue page des cartes */
.carte_display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
}

/* HR gauche droite aux niveaux des inter-titres dans les cartes */
.hr_lne_left, .hr_lpdg_left, .hr_lcalf_left1, .hr_lcalf_left2, .hr_lcalf_left3, .hr_lddp_left1, .hr_lddp_left2, .hr_lddp_left3 {
  height: 5px;
  width: 8%;
  position: absolute;
  left: 0;
}

.hr_lne_right, .hr_lpdg_right, .hr_lcalf_right1, .hr_lcalf_right2, .hr_lcalf_right3, .hr_lddp_right1, .hr_lddp_right2, .hr_lddp_right3 {
  height: 5px;
  width: 8%;
  position: absolute;
  right: 0;
  margin-top: -35px;
}

/* page index */
.prochainement {
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 340px;
}

section ul a {
  display: block;
  padding-top: 30%;
  padding-bottom: 30%;
  height: 280px;
}

/* Footer */
#footer_display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 20px;
}

footer {
  bottom: 0;
  position: fixed;
  padding-bottom: 15px;
}

footer ul a {
  display: block;
  padding: 10px;
}

/* Button */
.button1 {
  background-color: #579c87;
  border-radius: 10px;
  padding: 10px;
}

/* COLORS CONTENT */
header, footer {
  background-color: #579c87;
}

/* couleur de fonds carte page individuelle */
.color_carte_lne {
  background-color: #fcdfdb;
}

#lanotenechente {
  background-color: #fcdfdb;
}

#lapalettedugout {
  background-color: #fdfffd;
}

#lechicalafrancaise, .color_carte_lcalf {
  background-color: #fff5fe;
}

#ledelicedespapilles, .color_carte_lddp {
  background-color: #f9f9f9;
}

/* COLORS FONTS */
header a, footer, footer a, .prochainement {
  color: #fcca46;
}

header a:hover {
  color: #ffd700;
}

/* la note enchenter */
.notemusique, #lanotenechente a p {
  background-image: linear-gradient(130deg, #ef495f, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hr_lne_left, .hr_lne_right {
  background-color: #000000;
}

/* le chic a la francaise */
.color_lcalf_titre, #lechicalafrancaise a p {
  background-image: linear-gradient(100deg, #d38140, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color_lcalf_article1 {
  color: #c67412;
}

.color_lcalf_article2 {
  color: #a56799;
}

.color_lcalf_article3 {
  color: #7554ce;
}

.hr_lcalf_right1, .hr_lcalf_left1 {
  background-color: #c67412;
}

.hr_lcalf_right2, .hr_lcalf_left2 {
  background-color: #a56799;
}

.hr_lcalf_right3, .hr_lcalf_left3 {
  background-color: #7554ce;
}

/* le delice des papilles */
.color_lddp_titre, #ledelicedespapilles a p {
  background-image: linear-gradient(100deg, #052add, #1a91fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lddp_h3_forme1:hover {
  text-decoration-color: #0e32de;
}

.lddp_h3_forme2:hover {
  text-decoration-color: #0b73f3;
}

.lddp_h3_forme3:hover {
  text-decoration-color: #4eaff7;
}

.hr_lddp_left1, .hr_lddp_right1 {
  background-color: #0e32de;
}

.hr_lddp_left2, .hr_lddp_right2 {
  background-color: #0b73f3;
}

.hr_lddp_left3, .hr_lddp_right3 {
  background-color: #4eaff7;
}

/* la palette du gout */
.color_lpdg_titre, #lapalettedugout a p {
  background-image: linear-gradient(100deg, #489b40, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lpdg_h3_forme:hover {
  text-decoration-color: #489b40;
}

.hr_lpdg_left {
  background-image: linear-gradient(100deg, #489b40, #beff7f);
}

.hr_lpdg_right {
  background-image: linear-gradient(100deg, #beff7f, #489b40);
}

@media screen and (max-width: 1024px) {
  .lpdgfont li {
    font-size: 1.2em;
  }

  h2.lpdgfont {
    font-size: 2.6em;
  }

  h3.lpdgfont {
    font-size: 2em;
  }

  .lcalffont li {
    font-size: 0.6em;
  }

  h2.lcalffont {
    font-size: 3em;
  }

  h3.lcalffont {
    font-size: 2.3em;
  }

  .lddpfont li {
    font-size: 1.4em;
  }

  h2.lddpfont {
    font-size: 3em;
  }

  h3.lddpfont {
    font-size: 2em;
  }

  .lnefont li {
    font-size: 1em;
  }

  h2.lnefont {
    font-size: 4em;
  }

  h3.lnefont {
    font-size: 2em;
  }

  header a {
    font-size: 2em;
  }

  footer {
    font-size: 1.5em;
  }

  #index_carte_display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .card_menu {
    display: block;
    margin-bottom: 5%;
    box-shadow: 10px 1px 10px 1px #888888;
    margin-right: 10%;
    border-radius: 1;
    fill-opacity: 1;
  }

  .card_menu:hover {
    fill-opacity: 0.5;
    transition: 0.82s;
  }

  .body_carte_display {
    margin-top: 200px;
    width: 100%;
    margin-bottom: 450px;
  }
}
@media screen and (min-width: 1024px) {
  .lpdgfont li {
    font-size: 1.5em;
  }

  h2.lpdgfont {
    font-size: 2.6em;
  }

  h3.lpdgfont {
    font-size: 2em;
  }

  .lcalffont li {
    font-size: 0.7em;
  }

  h2.lcalffont {
    font-size: 3em;
  }

  h3.lcalffont {
    font-size: 2.6em;
  }

  .lddpfont li {
    font-size: 1.9em;
  }

  h2.lddpfont {
    font-size: 3em;
  }

  h3.lddpfont {
    font-size: 2.4em;
  }

  .lnefont li {
    font-size: 1.5em;
  }

  h2.lnefont {
    font-size: 4em;
  }

  h3.lnefont {
    font-size: 2em;
  }

  header a {
    font-size: 100px;
  }

  footer {
    font-size: 20px;
  }

  #index_carte_display {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
  }

  .card_menu {
    display: block;
    box-shadow: 10px 1px 10px 1px #888888;
    width: 30%;
    margin: 2%;
    border-radius: 10px;
    fill-opacity: 1;
  }

  .card_menu:hover {
    fill-opacity: 0.5;
    transition: 0.82s;
  }

  .color_carte_lne, .color_carte_lpdg, .color_carte_lcalf, .color_carte_lddp {
    margin-top: 250px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 250px;
    box-shadow: 10px 1px 10px 1px #888888;
  }

  .body_carte_display {
    width: 60%;
    margin: auto;
  }
}
.animationfooter:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  font-size: 120%;
  background-color: #6bc9ad;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#lanotenechente:hover {
  background-color: rgba(241, 245, 241, 0);
}

#lanotenechente a p:hover {
  font-size: 280%;
  transition: 0.9s;
}

#lechicalafrancaise:hover {
  background-color: rgba(241, 245, 241, 0);
}

#lechicalafrancaise a p:hover {
  font-size: 500%;
  transition: 0.9s;
}

#ledelicedespapilles:hover {
  background-color: rgba(241, 245, 241, 0);
}

#ledelicedespapilles a p:hover {
  font-size: 380%;
  transition: 0.9s;
}

#lapalettedugout:hover {
  background-color: rgba(241, 245, 241, 0);
}

#lapalettedugout a p:hover {
  font-size: 380%;
  transition: 0.9s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.prochainement:after {
  animation: dotty steps(1, end) 2s infinite;
  padding-left: 10px;
  content: "";
}

@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
/* en attente */
.effect_index_zoom:hover {
  transition: transform 0.2s;
  transform: scale(1.5);
}

.lne_h3_forme, .lpdg_h3_forme, .lcalf_h3_forme1, .lcalf_h3_forme2, .lcalf_h3_forme3, .lddp_h3_forme1, .lddp_h3_forme2, .lddp_h3_forme3 {
  position: relative;
  text-decoration: none;
}
.lne_h3_forme::after, .lpdg_h3_forme::after, .lcalf_h3_forme1::after, .lcalf_h3_forme2::after, .lcalf_h3_forme3::after, .lddp_h3_forme1::after, .lddp_h3_forme2::after, .lddp_h3_forme3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  transform: scale(0, 0);
  height: 10px;
  background-color: rgba(3, 3, 3, 0.8);
  transition: transform 450ms;
}
.lne_h3_forme:hover::after, .lpdg_h3_forme:hover::after, .lcalf_h3_forme1:hover::after, .lcalf_h3_forme2:hover::after, .lcalf_h3_forme3:hover::after, .lddp_h3_forme1:hover::after, .lddp_h3_forme2:hover::after, .lddp_h3_forme3:hover::after {
  transform: scale(2, 0.5);
  transform-origin: left;
  width: 20%;
}

/*# sourceMappingURL=style.css.map */
