@charset "UTF-8";
@font-face {
  /* font utiliser pour titre de page */
  font-family: "Embrionic55";
  src: url("../fonts/Embrionic55.woff2") format("woff2"), url("../fonts/Embrionic55.woff") format("woff"), url("../fonts/Embrionic55.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour texte la note enchantée */
  font-family: "Thyssen J";
  src: url("../fonts/Thyssen-JItalic.woff2") format("woff2"), url("../fonts/Thyssen-JItalic.woff") format("woff"), url("../fonts/Thyssen-JItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  /* font utiliser pour titre la note enchentée */
  font-family: "Ma Shan Zheng";
  src: url("../fonts/MaShanZheng-Regular.woff2") format("woff2"), url("../fonts/MaShanZheng-Regular.woff") format("woff"), url("../fonts/MaShanZheng-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour inter-titre la note enchentée */
  font-family: "VTCSundaykomixcaps";
  src: url("../fonts/VTCSundaykomixcaps.woff2") format("woff2"), url("../fonts/VTCSundaykomixcaps.woff") format("woff"), url("../fonts/VTCSundaykomixcaps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour texte le chic a la francaise */
  font-family: "Rasa";
  src: url("../fonts/Rasa-Regular.woff2") format("woff2"), url("../fonts/Rasa-Regular.woff") format("woff"), url("../fonts/Rasa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour titre le chic a la francaise */
  font-family: "Munson";
  src: url("../fonts/Munson-Bold.woff2") format("woff2"), url("../fonts/Munson-Bold.woff") format("woff"), url("../fonts/Munson-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour inter-titre le chic a la francaise */
  font-family: "EucrosiaUPC";
  src: url("../fonts/EucrosiaUPCBold.woff2") format("woff2"), url("../fonts/EucrosiaUPCBold.woff") format("woff"), url("../fonts/EucrosiaUPCBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour texte le delice des papilles */
  font-family: "Hashtag";
  src: url("../fonts/Hashtag.woff2") format("woff2"), url("../fonts/Hashtag.woff") format("woff"), url("../fonts/Hashtag.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour titre le delice des papilles */
  font-family: "Mcgannahan";
  src: url("../fonts/Mcgannahan.woff2") format("woff2"), url("../fonts/Mcgannahan.woff") format("woff"), url("../fonts/Mcgannahan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour inter-titre le delice des papilles */
  font-family: "JieSi BanXing";
  src: url("../fonts/JiesiBanxingAlpha.woff2") format("woff2"), url("../fonts/JiesiBanxingAlpha.woff") format("woff"), url("../fonts/JiesiBanxingAlpha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour texte la palette du gout */
  font-family: "Worstveld Sling";
  src: url("../fonts/WorstveldSlingBold.woff2") format("woff2"), url("../fonts/WorstveldSlingBold.woff") format("woff"), url("../fonts/WorstveldSlingBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* font utiliser pour titre et inter-titre la palette du gout */
  font-family: "Segoe Print";
  src: url("../fonts/SegoePrint.woff2") format("woff2"), url("../fonts/SegoePrint.woff") format("woff"), url("../fonts/SegoePrint.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
header a {
  font-family: "Embrionic55";
}

a, h1 a, .droite > li, .gauche1 > li, .gauche2 > li, .droite1 > li, .droite2 > li, footer > ul > li, footer > ul > a > li {
  text-decoration: none;
  list-style: none;
}

/* fonts page index */
.gauche1, .gauche2, .droite1, .droite2 {
  text-align: center;
  line-height: 65px;
}

/* fonts carte page individuelle */
.lnefont, .lpdgfont, .lcalffont, .lddpfont {
  list-style: none;
}

.lnefont li {
  font-family: "Thyssen J";
  text-align: left;
}

h2.lnefont {
  font-family: "Ma Shan Zheng";
  text-align: center;
}

h3.lnefont {
  font-family: "VTCSundaykomixcaps";
  text-align: center;
}

.lcalffont li {
  font-family: "Rasa";
  text-align: left;
}

h2.lcalffont {
  font-family: "Munson";
  text-align: center;
}

h3.lcalffont {
  font-family: "EucrosiaUPC";
  text-align: center;
}

.lpdgfont li {
  font-family: "Worstveld Sling";
  text-align: left;
}

h2.lpdgfont, h3.lpdgfont {
  font-family: "Segoe Print";
  text-align: center;
}

.lddpfont li {
  font-family: "Hashtag";
  text-align: left;
}

h2.lddpfont {
  font-family: "Mcgannahan";
  text-align: center;
}

h3.lddpfont {
  font-family: "JieSi BanXing";
  text-align: center;
}

body, html {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

header, footer {
  width: 100%;
}

header {
  position: absolute;
  text-align: center;
  top: 0;
}

footer {
  bottom: 0;
  position: relative;
  justify-content: space-between;
}

/* contenue page des cartes */
nav {
  margin-top: 150px;
  width: 100%;
}

.contentmenu {
  justify-content: center;
}

.sectioncarte {
  margin-bottom: 5%;
  margin-top: 150px;
  overflow: hidden;
}

/* page carte trait h3 */
.lne_h3_forme:before, .lne_h3_forme:after, .lpdg_h3_forme:before, .lpdg_h3_forme:after, .lcalf_h3_forme:before, .lcalf_h3_forme:after, .lddp_h3_forme:before, .lddp_h3_forme:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 13rem;
  height: 5px;
}

.lne_h3_forme:before, .lpdg_h3_forme:before, .lcalf_h3_forme:before, .lddp_h3_forme:before {
  margin-right: 6%;
  margin-left: 3%;
}

.lne_h3_forme:after, .lpdg_h3_forme:after, .lcalf_h3_forme:after, .lddp_h3_forme:after {
  margin-left: 6%;
}

/* page index */
.gauche1, .gauche2 {
  margin-right: 40px;
}

.prochainement {
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

/* FLEXBOX */
footer, .contentmenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.articlecarte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

/* Button */
.button1 {
  background-color: #579c87;
  border-radius: 10px;
  padding: 10px;
}

/* COLORS CONTENT */
header, footer {
  background-color: #579c87;
}

/* couleur de fonds carte page individuelle */
.sectionlne {
  background-color: #fcdfdb;
}

.sectionlpdg {
  background-color: #fdfffd;
}

.sectionlcalf {
  background-color: #fff5fe;
}

.sectionlddp {
  background-color: #f9f9f9;
}

/* page index */
.gauche1, .gauche2, .droite1, .droite2 {
  box-shadow: 0px 0px 10px #000000;
}

.gauche1 {
  background-color: #fcdfdb;
}

.gauche2 {
  background-color: #f9f9f9;
}

.droite1 {
  background-color: #fff5fe;
}

.droite2 {
  background-color: #fdfffd;
}

/* COLORS FONTS */
header a, footer, footer a, .prochainement {
  color: #fcca46;
}

/* la note enchenter */
.notemusique {
  background-image: linear-gradient(130deg, #ef495f, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lne_h3_forme:before, .lne_h3_forme:after {
  background-color: black;
}

/* le chic a la francaise */
.color_lcalf_titre {
  background-image: linear-gradient(100deg, #d38140, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color_lcalf_article1 {
  color: #c67412;
}

.color_lcalf_article2 {
  color: #a56799;
}

.color_lcalf_article3 {
  color: #7554ce;
}

.lcalf_h3_forme:before, .lcalf_h3_forme:after {
  background: linear-gradient(100deg, blue, pink);
}

/* le delice des papilles */
.color_lddp_titre {
  background-image: linear-gradient(100deg, #052add, #1a91fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* la palette du gout */
.color_lpdg_titre {
  background-image: linear-gradient(100deg, #489b40, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lpdg_h3_forme:before, .lpdg_h3_forme:after {
  background: linear-gradient(100deg, #489b40, #beff7f);
}

@media screen and (max-width: 1024px) {
  .lddpfont li, .lpdgfont li, .lcalffont li, .lnefont li {
    font-size: 20px;
    white-space: nowrap;
  }

  h2.lnefont, h2.lcalffont, h2.lpdgfont, h2.lddpfont {
    font-size: 45px;
    white-space: nowrap;
  }

  h3.lnefont, h3.lcalffont, h3.lpdgfont, h3.lddpfont {
    font-size: 25px;
    white-space: nowrap;
  }

  header a {
    font-size: 60px;
  }

  footer {
    font-size: 20px;
  }

  .gauche1, .gauche2, .droite1, .droite2 {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .lddpfont li, .lpdgfont li, .lcalffont li, .lnefont li {
    font-size: 30px;
    white-space: nowrap;
  }

  h2.lnefont, h2.lcalffont, h2.lpdgfont, h2.lddpfont {
    font-size: 65px;
    white-space: nowrap;
  }

  h3.lnefont, h3.lcalffont, h3.lpdgfont, h3.lddpfont {
    font-size: 45px;
    white-space: nowrap;
  }

  header a {
    font-size: 80px;
  }

  footer {
    font-size: 20px;
  }

  .gauche1, .gauche2, .droite1, .droite2 {
    font-size: 30px;
  }

  .sectioncarte {
    margin-left: 20%;
    margin-right: 20%;
  }
}
.animationfooter:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  font-size: 120%;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
