@media screen and (min-width: 1024px){
    .lpdgfont li ,{font-size: 1.5em;}h2.lpdgfont{font-size: 2.6em;}h3.lpdgfont {font-size: 2em;}
    .lcalffont li{font-size: 0.7em;} h2.lcalffont{font-size: 3em;}h3.lcalffont { font-size: 2.6em;}
    .lddpfont li {font-size: 1.9em;} h2.lddpfont{font-size: 3em;}h3.lddpfont{font-size: 2.4em;}
    .lnefont li{font-size: 1.5em;}h2.lnefont {font-size: 4em;}h3.lnefont{font-size: 2em;}
    .notemusiqueindex{font-size: 2em;}
    header a{
        font-size: 100px;
    }
    footer{
        font-size: 20px;
    }

     .gauche1,.gauche2 , .droite1 , .droite2{
        font-size: 30px;
        padding-left:10%;
        padding-right:10%;
        width:    340px;}
  
    .sectioncarte{
        margin-left: 20%;
        margin-right: 20%;
    }
    .lne_h3_forme:before, .lne_h3_forme:after ,.lpdg_h3_forme:before, .lpdg_h3_forme:after , .lcalf_h3_forme1:before, .lcalf_h3_forme1:after, .lcalf_h3_forme2:before, .lcalf_h3_forme2:after,.lddp_h3_forme1:before, .lddp_h3_forme1:after,.lddp_h3_forme2:before, .lddp_h3_forme2:after ,.lddp_h3_forme3:before, .lddp_h3_forme3:after,.lcalf_h3_forme3:before, .lcalf_h3_forme3:after,{ 
        content       : ''; 
        display:inline-block;
        vertical-align: middle; 
        height        : 5px; }
        .lne_h3_forme:before,.lpdg_h3_forme:before, .lcalf_h3_forme1:before,, .lcalf_h3_forme2:before, .lcalf_h3_forme3:before, .lddp_h3_forme1:before,.lddp_h3_forme2:before,.lddp_h3_forme3:before{ margin-right: 6%; margin-left: 3%;width : 15%;}
        .lne_h3_forme:after, .lpdg_h3_forme:after, .lcalf_h3_forme1:after,.lcalf_h3_forme2:after,.lcalf_h3_forme3:after, .lddp_h3_forme1:after,.lddp_h3_forme2:after,.lddp_h3_forme3:after{ margin-left: 6%;width : 15%; }
    
}