@media screen and (min-width: 1024px){
    .lddpfont li , .lpdgfont li , .lcalffont li , .lnefont li{
        font-size: 30px;
        white-space: nowrap;
    }
    h2.lnefont , h2.lcalffont  , h2.lpdgfont , h2.lddpfont {
        font-size: 65px;
        white-space: nowrap;
    }
    h3.lnefont , h3.lcalffont , h3.lpdgfont , h3.lddpfont {
        font-size: 45px;
        white-space: nowrap;
    }
    header a{
        font-size: 80px;
    }
    footer{
        font-size: 20px;
    }

     .gauche1,.gauche2 , .droite1 , .droite2{
        font-size: 30px;
        padding-left:10%;
        padding-right:10%;
        width:    340px;}
  
    .sectioncarte{
        margin-left: 20%;
        margin-right: 20%;
    }
    .lne_h3_forme:before, .lne_h3_forme:after ,.lpdg_h3_forme:before, .lpdg_h3_forme:after , .lcalf_h3_forme1:before, .lcalf_h3_forme1:after, .lcalf_h3_forme2:before, .lcalf_h3_forme2:after,.lddp_h3_forme1:before, .lddp_h3_forme1:after,.lddp_h3_forme2:before, .lddp_h3_forme2:after ,.lddp_h3_forme3:before, .lddp_h3_forme3:after,.lcalf_h3_forme3:before, .lcalf_h3_forme3:after,{ 
        content       : ''; 
        display       : inline-block; 
        vertical-align: middle; 
        width         : 13rem;
        height        : 5px; }
        .lne_h3_forme:before,.lpdg_h3_forme:before, .lcalf_h3_forme1:before,, .lcalf_h3_forme2:before, .lcalf_h3_forme3:before, .lddp_h3_forme1:before,.lddp_h3_forme2:before,.lddp_h3_forme3:before{ margin-right: 6%; margin-left: 3%;}
        .lne_h3_forme:after, .lpdg_h3_forme:after, .lcalf_h3_forme1:after,.lcalf_h3_forme2:after,.lcalf_h3_forme3:after, .lddp_h3_forme1:after,.lddp_h3_forme2:after,.lddp_h3_forme3:after{ margin-left: 6%; }
    
}