@media screen and (min-width: 1024px){
    .lddpfont li , .lpdgfont li , .lcalffont li , .lnefont li{
        font-size: 30px;
        white-space: nowrap;
    }
    h2.lnefont , h2.lcalffont  , h2.lpdgfont , h2.lddpfont {
        font-size: 65px;
        white-space: nowrap;
    }
    h3.lnefont , h3.lcalffont , h3.lpdgfont , h3.lddpfont {
        font-size: 45px;
        white-space: nowrap;
    }
    header a{
        font-size: 80px;
    }
    footer{
        font-size: 20px;
    }
}