@media screen and (max-width: 1024px){
     .lpdgfont li ,{font-size: 1.2em;}h2.lpdgfont{font-size: 2.6em;}h3.lpdgfont {font-size: 2em;}
    .lcalffont li{font-size: 0.6em;} h2.lcalffont{font-size: 3em;}h3.lcalffont { font-size: 2.3em;}
    .lddpfont li {font-size: 1.4em;} h2.lddpfont{font-size: 3em;}h3.lddpfont{font-size: 2em;}
    .lnefont li{font-size: 1em;}h2.lnefont {font-size: 4em;}h3.lnefont{font-size: 2em;}
    header a{
        font-size: 2em;
    }
    footer{
        font-size: 1.5em;
    }
    .color_carte_lne{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #index_carte_display{
        display        : flex;
        flex-direction : column;
        justify-content: center;
        margin-top     : 150px;
        margin-bottom  : 50px;
    }
    .card_menu{
        display      : block;
        margin-bottom: 5%;
        box-shadow   : 10px 1px 10px 1px #888888;
        margin-right : 10%;
        border-radius: 1;
        fill-opacity : 1;

    }
    .card_menu:hover{
        fill-opacity: 0.5;
        transition  : 0.82s;
        }
    .body_carte_display{
        margin-top: 150px;
        width: 100%;
        margin-bottom: 180px;
    }
    footer {
        bottom        : 0;
        position: static;
        padding-bottom:1px;
    }
    #footer_display{
        display        : flex;
        flex-direction : row;
        justify-content: center;
        list-style     : none;
        text-align: center;
    padding: 0px;}

    .prochainement{
    margin-bottom: 140px;}
    .hr_lne_left,.hr_lpdg_left,.hr_lcalf_left1,.hr_lcalf_left2,.hr_lcalf_left3,.hr_lddp_left1,.hr_lddp_left2,.hr_lddp_left3,
    .hr_lne_right,.hr_lpdg_right,.hr_lcalf_right1,.hr_lcalf_right2,.hr_lcalf_right3,.hr_lddp_right1,.hr_lddp_right2,.hr_lddp_right3{
        display: none;}
}