@media screen and (max-width: 1024px){
     .lpdgfont li ,{font-size: 1.2em;}h2.lpdgfont{font-size: 2.6em;}h3.lpdgfont {font-size: 2em;}
    .lcalffont li{font-size: 0.6em;} h2.lcalffont{font-size: 3em;}h3.lcalffont { font-size: 2.3em;}
    .lddpfont li {font-size: 1.4em;} h2.lddpfont{font-size: 3em;}h3.lddpfont{font-size: 2em;}
    .lnefont li{font-size: 1em;}h2.lnefont {font-size: 4em;}h3.lnefont{font-size: 2em;}
    .notemusiqueindex{font-size: 3em;}
    header a{
        font-size: 2em;
    }
    footer{
        font-size: 1.5em;
    }
    #index_carte_display{
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .card_menu{
        display: block;
        margin-bottom: 5%;
        box-shadow: 10px 1px 10px 1px #888888;
        padding-top:30%;
        padding-bottom: 30%;
        margin-right: 10%;
        border-radius: 10px;

    }
}