$colorH1fonts: #fcca46;
$colorheaderfooter: #579c87;
$colorsectionlne: #fcdfdb; $colorindexlne: #fcdfdb;

$colorindexlpdg: #fdfffd;
$colorindexlddp: #f9f9f9; $colorlddp1:#0e32de; $colorlddp2:#0b73f3; $colorlddp3:#4eaff7;

$colorindexlcalf: #fff5fe ; $colorlcalf1: #c67412; $colorlcalf2:#a56799; $colorlcalf3:#7554ce;
