$colorH1fonts: #fcca46;
$colorheaderfooter: #579c87;
$color_carte_lne: #f8d3ce; 

$color_carte_lpdg: #34753a; $colorlpdg:#489b40;
$color_carte_lddp: #2d497e; $colorlddp1:#0e32de; $colorlddp2:#0b73f3; $colorlddp3:#4eaff7;

$color_carte_lcalf: #77324f ; $colorlcalf1: #c67412; $colorlcalf2:#a56799; $colorlcalf3:#7554ce;
