@import "_colors.scss";


/* COLORS CONTENT */

header, footer{background-color:$colorheaderfooter;}

/* couleur de fonds carte page individuelle */
.color_carte_lne{background-color: $color_carte_lne;}


#lanotenechente  {
    background-color:$color_carte_lne ;
}
#lapalettedugout {
    background-color:$color_carte_lpdg;
}
#lechicalafrancaise{
    background-color: $color_carte_lcalf;
}

#ledelicedespapilles{
    background-color: $color_carte_lddp ;
    
}
/* COLORS FONTS */

header a , footer, footer a , .prochainement{color:$colorH1fonts ;}
header a:hover {color:#ffd700;}

/* la note enchenter */
.notemusique, #lanotenechente a p{
    background-image       : linear-gradient(130deg, #ef495f,#f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

.hr_lne_left , .hr_lne_right{
    background-color:#000000 ;
}
/* le chic a la francaise */
.color_lcalf_titre, #lechicalafrancaise a p{
    background-image       : linear-gradient(100deg, #d38140,#8f5bfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
.color_lcalf_article1{color: $colorlcalf1;}.color_lcalf_article2{color: $colorlcalf2;}.color_lcalf_article3{color: $colorlcalf3;} 
.hr_lcalf_right1,.hr_lcalf_left1{background-color:$colorlcalf1 ;}
.hr_lcalf_right2,.hr_lcalf_left2{background-color:$colorlcalf2 ;}
.hr_lcalf_right3,.hr_lcalf_left3{background-color:$colorlcalf3 ;}
/* le delice des papilles */
.color_lddp_titre,#ledelicedespapilles a p{
    background-image       : linear-gradient(100deg, #052add,#1a91fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
    .lddp_h3_forme1:hover{text-decoration-color:$colorlddp1;}.lddp_h3_forme2:hover{text-decoration-color:$colorlddp2;}.lddp_h3_forme3:hover{text-decoration-color:$colorlddp3;}
.hr_lddp_left1,.hr_lddp_right1{background-color:$colorlddp1;}
.hr_lddp_left2,.hr_lddp_right2{background-color:$colorlddp2;}
.hr_lddp_left3,.hr_lddp_right3{background-color:$colorlddp3;}
    /* la palette du gout */
.color_lpdg_titre, #lapalettedugout a p{
    background-image       : linear-gradient(100deg, #489b40,#beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
    .lpdg_h3_forme:hover{text-decoration-color: $colorlpdg;}
.hr_lpdg_left{
    background-image       : linear-gradient(100deg, #489b40,#beff7f);
}
.hr_lpdg_right{
    background-image       : linear-gradient(100deg, #beff7f,#489b40);
}
