$colorH1fonts: #fcca46;
$colorheaderfooter: #579c87;
$colorsectionlne: #fcdfdb; $colorindexlne: #fcdfdb; $color_gauche1_animated:#f8d3ce;

$colorindexlpdg: #fdfffd; $color_gauche2_animated:#edfaed; $colorlpdg:#489b40;
$colorindexlddp: #f9f9f9; $colorlddp1:#0e32de; $colorlddp2:#0b73f3; $colorlddp3:#4eaff7;$color_droite2_animated:#e7f7e4;

$colorindexlcalf: #fff5fe ; $colorlcalf1: #c67412; $colorlcalf2:#a56799; $colorlcalf3:#7554ce; $color_droite1_animated:#fce1f9; 
