@import "_colors.scss";

@font-face { /* font utiliser pour titre de page */
    font-family: 'Embrionic55';
    src: url('../fonts/Embrionic55.woff2') format('woff2'),
        url('../fonts/Embrionic55.woff') format('woff'),
        url('../fonts/Embrionic55.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {/* font utiliser pour texte la note enchantée */
    font-family: 'Thyssen J';
    src: url('../fonts/Thyssen-JItalic.woff2') format('woff2'),
        url('../fonts/Thyssen-JItalic.woff') format('woff'),
        url('../fonts/Thyssen-JItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {/* font utiliser pour titre la note enchentée */
    font-family: 'Ma Shan Zheng';
    src: url('../fonts/MaShanZheng-Regular.woff2') format('woff2'),
        url('../fonts/MaShanZheng-Regular.woff') format('woff'),
        url('../fonts/MaShanZheng-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {/* font utiliser pour inter-titre la note enchentée */
    font-family: 'VTCSundaykomixcaps';
    src: url('../fonts/VTCSundaykomixcaps.woff2') format('woff2'),
        url('../fonts/VTCSundaykomixcaps.woff') format('woff'),
        url('../fonts/VTCSundaykomixcaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {/* font utiliser pour texte le chic a la francaise */
    font-family: 'Rasa';
    src: url('../fonts/Rasa-Regular.woff2') format('woff2'),
        url('../fonts/Rasa-Regular.woff') format('woff'),
        url('../fonts/Rasa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {/* font utiliser pour titre le chic a la francaise */
    font-family: 'Munson';
    src: url('../fonts/Munson-Bold.woff2') format('woff2'),
        url('../fonts/Munson-Bold.woff') format('woff'),
        url('../fonts/Munson-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {/* font utiliser pour inter-titre le chic a la francaise */
    font-family: 'EucrosiaUPC';
    src: url('../fonts/EucrosiaUPCBold.woff2') format('woff2'),
        url('../fonts/EucrosiaUPCBold.woff') format('woff'),
        url('../fonts/EucrosiaUPCBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {/* font utiliser pour texte le delice des papilles */
    font-family: 'Hashtag';
    src: url('../fonts/Hashtag.woff2') format('woff2'),
        url('../fonts/Hashtag.woff') format('woff'),
        url('../fonts/Hashtag.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {/* font utiliser pour titre le delice des papilles */
    font-family: 'Mcgannahan';
    src: url('../fonts/Mcgannahan.woff2') format('woff2'),
        url('../fonts/Mcgannahan.woff') format('woff'),
        url('../fonts/Mcgannahan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {/* font utiliser pour inter-titre le delice des papilles */
    font-family: 'JieSi BanXing';
    src: url('../fonts/JiesiBanxingAlpha.woff2') format('woff2'),
        url('../fonts/JiesiBanxingAlpha.woff') format('woff'),
        url('../fonts/JiesiBanxingAlpha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {/* font utiliser pour texte la palette du gout */
    font-family: 'Worstveld Sling';
    src: url('../fonts/WorstveldSlingBold.woff2') format('woff2'),
        url('../fonts/WorstveldSlingBold.woff') format('woff'),
        url('../fonts/WorstveldSlingBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {/* font utiliser pour titre et inter-titre la palette du gout */
    font-family: 'Segoe Print';
    src: url('../fonts/SegoePrint.woff2') format('woff2'),
        url('../fonts/SegoePrint.woff') format('woff'),
        url('../fonts/SegoePrint.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header a{font-family: "Embrionic55";}

a, h1 a , .droite > li, .gauche1 > li , .gauche2 > li, .droite1 > li, .droite2 > li, footer > ul > li, footer > ul > a >li{
    text-decoration: none;
    list-style: none;
     }

/* fonts page index */
.gauche1 , .gauche2 , .droite1 , .droite2{
   text-align: center;
    white-space: nowrap;}

    /* fonts carte page individuelle */ 
.lnefont , .lpdgfont, .lcalffont, .lddpfont{
    list-style: none;
    line-height: 55px;}

.lnefont li, {
font-family: "Thyssen J";
text-align : left;}
h2.lnefont {
font-family: "Ma Shan Zheng";
text-align : center;}
h3.lnefont{
    font-family: "VTCSundaykomixcaps";
    text-align : center;}
    .lnefont {
        font-family: "VTCSundaykomixcaps";
        text-align: center;
        font-size: 20px;
    }
.lcalffont li {
    font-family: "Rasa" ;
    text-align : left;}
h2.lcalffont {
font-family: "Munson";
text-align : center;}
h3.lcalffont{
font-family: "EucrosiaUPC";
text-align : center;}
     .lcalffont{
        font-family: "EucrosiaUPC";
        text-align : center;
        font-size: 40px;
    }
.lpdgfont li{
font-family: "Worstveld Sling";
text-align : left;}
h2.lpdgfont , h3.lpdgfont {
 font-family: "Segoe Print";
 text-align : center;}
 .lpdgfont {
    font-family: "Segoe Print";
    text-align : center;
    font-size: 25px;
}
.lddpfont li {
    font-family: "Hashtag";
    text-align : left;}
h2.lddpfont{
    font-family: "Mcgannahan";
    text-align : center;}
h3.lddpfont{
    font-family: "JieSi BanXing";
    text-align : center;}
    .lddpfont{
        font-family: "JieSi BanXing";
        text-align : center;
        font-size: 25px;
    }