@import "_colors.scss";


 body , html{
    padding: 0px;
    margin : 0px;
    width  : 100%; }
header,footer {
    width: 100%;}
header{
    position  : absolute;
    text-align: center;
    top       : 0;}

    .body_mentionlegales_display{
        padding-right: 15%;
        padding-left: 15%;
        padding-top: 200px;
        padding-bottom: 100px;
    }
/* contenue page des cartes */
.carte_display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}
.body_carte_display{
    margin-top: 200px;
}
/* HR gauche droite aux niveaux des inter-titres dans les cartes */
.hr_lne_left,.hr_lpdg_left,.hr_lcalf_left1,.hr_lcalf_left2,.hr_lcalf_left3,.hr_lddp_left1,.hr_lddp_left2,.hr_lddp_left3{
      height : 5px;
      width  : 8%;
     position: absolute;
      left   :  0;
}
.hr_lne_right,.hr_lpdg_right,.hr_lcalf_right1,.hr_lcalf_right2,.hr_lcalf_right3,.hr_lddp_right1,.hr_lddp_right2,.hr_lddp_right3{
     height    : 5px;
     width     : 8%;
     position  : absolute;
     right     : 0;
     margin-top: -35px;
}


/* page index */
.prochainement{
        text-align      : center;
        margin-left     : 35%;
        margin-right    : 35%;}

section ul a {
            display       : block;
            padding-top   : 30%;
            padding-bottom: 30%;
            height        : 280px;
        }

/* Footer */
#footer_display{
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    list-style     : none;
padding-top        : 20px;}

footer {
    bottom        : 0;
    position      : fixed;
    padding-bottom: 15px;
}
footer ul a {
    display: block;
    padding: 10px;
}
/* Button */
.button1 {
    background-color: $colorheaderfooter;
    border-radius   : 10px;
    padding         : 10px;
}
