@import "_colors.scss";


 body , html{
    padding: 0px;
    margin : 0px;
    width  : 100%; }
header,footer {
    width: 100%;
    left:0;}
header{
    position  : absolute;
    text-align: center;
    top       : 0;}

    .body_mentionlegales_display{
        padding-right: 15%;
        padding-left: 15%;
        padding-top: 200px;
        padding-bottom: 300px;
    }
/* contenue page des cartes */
.carte_display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}

/* page index */
.prochainement{
        text-align      : center;
        margin-left     : 35%;
        margin-right    : 35%;
    margin-bottom: 340px;}

section ul a {
            display       : block;
            padding-top   : 30%;
            padding-bottom: 30%;
            height        : 280px;
        }

/* Footer */


footer ul a {
    display: block;
    padding: 10px;
}
/* Button */
.button1 {
    background-color: $colorheaderfooter;
    border-radius   : 10px;
    padding         : 10px;
}
