@import "_colors.scss";


 body , html{
    padding: 0px;
    margin : 0px;
    width  : 100%; }
header, footer {
    width: 100%;}
header{
    position  : absolute;
    text-align: center;
    top       : 0;}
footer{
    bottom         : 0;
    position       : relative;
    justify-content: space-between;}


/* contenue page des cartes */
.carte_display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%
}
.body_carte_display{
    margin-top: 150px;
}
/* HR gauche droite aux niveaux des inter-titres dans les cartes */
.hr_lne_left,.hr_lpdg_left,.hr_lcalf_left1,.hr_lcalf_left2,.hr_lcalf_left3,.hr_lddp_left1,.hr_lddp_left2,.hr_lddp_left3{
     height: 5px;
     width: 10%;
    position:absolute;
left: 0;
}
.hr_lne_right,.hr_lpdg_right,.hr_lcalf_right1,.hr_lcalf_right2,.hr_lcalf_right3,.hr_lddp_right1,.hr_lddp_right2,.hr_lddp_right3{
     height: 5px;
     width: 10%;
     position:absolute;
     right: 0;
     margin-top: -35px;
}


/* page index */
.prochainement{
        text-align      : center;
        margin-left     : 35%;
        margin-right    : 35%;}

/* Footer */
    footer ,{
     display        : flex; flex-direction: row; 
     justify-content: center;
     width          : 100%;}

/* Button */
.button1 {
    background-color: $colorheaderfooter;
    border-radius   : 10px;
    padding         : 10px;
}